<?xml version="1.0" encoding="UTF-8"?>
<module>
    <name>pixpayment</name>
    <displayName>
        <![CDATA[Pagamento PIX]]>
    </displayName>
    <version>
        <![CDATA[2.1.1]]>
    </version>
    <description>
        <![CDATA[Aceite pagamentos via PIX]]>
    </description>
    <author>
        <![CDATA[PrestaShop & Matheus Bach]]>
    </author>
    <tab>
        <![CDATA[payments_gateways]]>
    </tab>
    <confirmUninstall>
        <![CDATA[Tem certeza que quer remover?]]>
    </confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
    <limited_countries></limited_countries>
</module>
